body {
    background-color: #444b49;
  }

  .container {
    background-color: #c9c8c0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-group label {
    font-weight: bold;
    margin-bottom: 7px;
  }

  .form-group input,
  .form-group select {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }

  .error {
    color: red;
    font-size: small;
  }

  .btn {
    margin-top: 10px;
  }

  #step2 {
    display: none;
  }